#root {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

form>.container-form-name {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-grow: 1;
  width: 100%;
}

form>.container-form-phone-serie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  flex-grow: 1;
  width: 100%;
}

form>.container-form-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  flex-grow: 1;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: large;
  font-weight: normal;
}